In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
for r in df(1,5):
    print(df)

TypeError: 'DataFrame' object is not callable

In [ ]:
df["Age"] = df["Age"].fillna(df["Age"].mean())
df["Age"]

In [ ]:
# df.loc[조건,열] = 넣고 싶은거
# df.loc[(조건)&(조건)&...,"열")] = 넣고 싶은 거

df.loc[df["Age"]<10, "Age"] = 0
df.loc[(df["Age"]>=10) & (df["Age"] <20), "Age"] = 1
df.loc[(df["Age"]>=20) & (df["Age"] <30), "Age"] = 2
df.loc[(df["Age"]>=30) & (df["Age"] <40), "Age"] = 3
df.loc[(df["Age"]>=40) & (df["Age"] <50), "Age"] = 4
df.loc[df["Age"]>=50, "Age"] = 5

df

In [ ]:
df_test = pd.read_csv("data/test.csv")
df_test

In [ ]:
df_test["Age"] = df_test["Age"].fillna(df_test["Age"].mean())
df_test["Age"]

In [ ]:
df_test.loc[df_test["Age"]<10, "Age"] = 0
df_test.loc[(df_test["Age"]>=10) & (df_test["Age"] <20), "Age"] = 1
df_test.loc[(df_test["Age"]>=20) & (df_test["Age"] <30), "Age"] = 2
df_test.loc[(df_test["Age"]>=30) & (df_test["Age"] <40), "Age"] = 3
df_test.loc[(df_test["Age"]>=40) & (df_test["Age"] <50), "Age"] = 4
df_test.loc[df_test["Age"]>=50, "Age"] = 5

df_test

In [ ]:
df["FamilySize"]=df["SibSp"] +df["Parch"]
df_test["FamilySize"]=df_test["SibSp"] +df_test["Parch"]
df
df_test

In [ ]:
#train = df[분석 하려는 열들만 선택] 여러개면 []안에 []한 번 더 넣어줌(리스트)

train = df[["Survived","Sex","Age","FamilySize"]]
train_test = df_test [["Sex","Age","FamilySize"]]

train
train_test

In [ ]:
df["Fare"] = df["Fare"].fillna(df["Fare"].mean())
df_test["Fare"] = df_test["Fare"].fillna(df_test["Fare"].mean())

In [ ]:
df.isnull().sum()

In [ ]:
# 결측값이 총 몇 개 있는 지 / 결측값이 있는 요소가 뭔지 알 수 있음
df_test.isnull().sum()

In [ ]:
# 해당 요소에 구성된 것들이 뭔지 알 수 있음.
df["Embarked"].value_counts()

In [ ]:
df["Embarked"] = df["Embarked"].fillna("S")
df["Embarked"]

In [ ]:
df_test["Embarked"] = df_test["Embarked"].fillna("S")
df_test["Embarked"]

In [ ]:
# 항구 빈칸 사라진 거 확인할 수 있음
df.isnull().sum()

In [ ]:
train

In [ ]:
train = df[["Survived","Sex","Age","FamilySize", "Embarked", "Fare"]]
train_test = df_test [["Sex","Age","FamilySize", "Embarked", "Fare"]]

# 챌린지1

# 성별 숫자화하기

In [ ]:
df.loc[df["Sex"]=="male", "Sex"] == 0
df.loc[df["Sex"]=="female", "Sex"] == 1

df.head()

In [ ]:
df_test.loc[df_test["Sex"]=="male", "Sex"] == 0
df_test.loc[df_test["Sex"]=="female", "Sex"] == 1

df_test.head()

# Embarked 숫자화

In [ ]:
df.loc[df["Embarked"]=="S", "Embarked"] == 0
df.loc[df["Embarked"]=="C", "Embarked"] == 1
df.loc[df["Embarked"]=="Q", "Embarked"] == 2

df["Embarked"]

In [ ]:
df_test.loc[df_test["Embarked"]=="S", "Embarked"] == 0
df_test.loc[df_test["Embarked"]=="C", "Embarked"] == 1
df_test.loc[df_test["Embarked"]=="Q", "Embarked"] == 2

df_test["Embarked"]

# 여기서 부터 Stage3

In [ ]:
#input과 output을 구분해주는 과정

#x_train엔 y를 제외한 나머지 모든 열 
x_train = train[["Sex","Age","FamilySize", "Fare", "Embarked"]]
# y_train엔 내가 알고자 하는 답

In [ ]:
y_train = train["Survived"]

In [ ]:
# 싸이킷 런 불러오기
from sklearn.tree import DecisionTreeClassifier

# 싸이킷 런으로 의사결정트리 만들기
tree = DecisionTreeClassifier()

In [ ]:
# 트리 학습하기 tree
tree.fit(x_train, y_train)
print('training set accuracy:',tree.score(x_train,y_train))

In [ ]:
print(tree.score(x_train,y_train))

In [ ]:
x_test = test[["Sex","Age","FamilySize", "Fare", "Embarked"]]

In [ ]:
y_test = tree.predict(x_test)
y_test

In [ ]:
student_minwoo =[0,2,4,0,10]
student_jongwook =[0,2,0,2,79]

# 타는 사람 리스트 만들고 , predict하면 생존여부 구할 수 있음.
users = [student_minwoo, student_jongwook]
tree.predict[users]

# Stage4

In [ ]:
df_original = pd.read_csv(ata/train.csv)

In [ ]:
import pandas as pd
import numpy as np

df-original=pd.read_csv('data/train.csv')
df-original_test=pd.read_csv('data/test.csv')

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set()

In [ ]:
sns.catplot(data=df,x="Age",hue="Survived", kind="count",aspect=4)

In [ ]:
facet = sns.FacetGrid(df, hue="Survived", aspect=4)
facet.map(sns.kdeplot,"Age")
facet.add_legend()

plt.show()

# 간격이 균일해짐, x축의 숫자들이 깔끔하게 정렬됨.

In [ ]:
sns.catplot(data=train, x="Embarked", y="Age",hue="Sex", kind="box", height=4.7, aspect=1, color="#642EFE")