In [1]:
a = 3

In [2]:
a==3

True

In [3]:
a = 1
b = 2
c = -1231
d = 123
print(a,b,c,d)

1 2 -1231 123

In [4]:
add = 123+321
print(add)

444

In [5]:
res = 3 +(2*5)
print(res)

13

In [6]:
res = res/3
print(res)

4.333333333333333

In [7]:
print(1+2-1231)

-1228

변수 문자열 사용법

In [8]:
a = 'Hello sorld'
print(a)

b = "안녕 세상"
print(b)

Hello sorld
안녕 세상

In [9]:
a = "HI"
print(a)

HI

In [10]:
b = a
print(b)

HI

In [12]:
longName='''원하는
내용을 
편하게 

여러줄로 입력'''
print(longName)

원하는
내용을
편하게

여러줄로 입력

변수 활용 퀴즈

In [13]:
num1 = '1234'
num2 = '4321'
print(num1 + num2)

12344321

In [14]:
K = 'P'
P = 123
print(K)

P

if 사용하기

In [17]:
age = 15

if age >=14 and age <= 16:
    print("중학생입니다.")
else:
    print("중학생이 아니므로.. 할인해드릴 수 없어요")

중학생입니다.

In [19]:
score = 55

if score >=90:
    result = '수'
elif score >=80:
    result = '우'
elif score >=70:
    result = '미'
else: 
    result = '양'
print(result)

양

리스트

In [24]:
myname = '이지은'
birth = 20001126
addr = '서울 송파 오금'

person_info = [myname, birth, addr,'여자', 1100]

print(person_info[2])

서울 송파 오금

딕셔너리

In [31]:
myname = '이지은'
birth = 20001126
addr = '서울 송파 오금'

user_info = {
    'name':myname,
    'birth':birth,
    'address':addr,
    'gender':'여자',
    'point':1100
}

print(user_info['name'])
print(user_info['gender'])

이지은
여자

In [32]:
person_info2 = ['박지성',810225,'US','남자']

user_list = [person_info, person_info2, user_info]

print(user_list[0])
print(user_list[1])
print(user_list[2])

['이지은', 20001126, '서울 송파 오금', '여자', 1100]
['박지성', 810225, 'US', '남자']
{'name': '이지은', 'birth': 20001126, 'address': '서울 송파 오금', 'gender': '여자', 'point': 1100}